@{
    ViewData["Title"] = "Home Page";
}
<!-- Hero -->
<section id="header">
    <div class="p-5 text-center bg-image rounded-3 hero-image">

        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-black">
                    <h1 class="mb-3 ">We're open and welcoming patients</h1>
                    <h3 class="mb-3 ">
                        We are here to support you with your medical imaging needs.
                    </h3>
                    <hr style="border: 1px solid black" />
                    <a class="btn btn-outline-info btn-lg" href="" role="button">Request Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section id="companyProfile">
        <div class="row my-5">
            <div class="col-12 col-lg-6">
                <img src="https://www.capitalradiology.com.au/media/qvupxwpr/doctor-looking-at-x-ray.png" alt="Doctor looking at X-Ray" class="img-fluid" />
            </div>
            <div class="col-lg-6">
                <div class="row mx-5 ">
                    <div class="col-lg-12">
                        <div class="row my-3">
                            <h4 class="subtitle" >Medical Imaging Specialists providing affordable, accessible medical imaging services to our local communities.</h4>
                        </div>
                        <div class="row my-3">
                            <p class="content">
                                Our patients healthcare is our priority, and we work hard to ensure our patients can easily access our services.
                            </p>
                        </div>
                        <div class="row mb-0">
                            <p class="content btn btn-primary service-button">Services</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

<section id="service">
    <div class="row">
        <h4 class="px-5 my-5">
            Putting patient care at the heart of our services
        </h4>
    </div>
    <div class="row">
        <div class="col-md-3 px-5">
            <h5>
                Your partner in imaging
            </h5>
            <hr />
            <p>At Capital Radiology, we provide affordable, accessible medical imaging services to our local communities.</p>
        </div>
        <div class="col-md-3 px-5">
            <h5>Easy, fast and convenient</h5>
            <hr />
            <p>
                Our patients healthcare is our priority, and the services we provide ensure they can easily access the medical imaging they need.
            </p>
        </div>
        <div class="col-md-3 px-5">
            <h5>
                Care and compassion
            </h5>
            <hr />
            <p>
                Our patients and their healthcare are our priority.
            </p>
        </div>
        <div class="col-md-3 px-5">
            <h5>
                Latest Technology
            </h5>
            <hr />
            <p>
                Capital Radiology invests in leading technologies that deliver more precise results in shorter timeframes.

            </p>
        </div>
    </div>
</section>
<!-- Hero -->
